body {
  text-align: center;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  font-size: 90px;
  text-align: center;
  justify-content: center;
  margin: auto;
}

#square {
  width: 100px;
  height: 100px;
  border: 10px solid black;
}

.buttreset button {
  height: 30px;
  border-radius: 10px 20px 10px 20px;
  transition: 2s;

  
}
.buttreset button:hover {
  height: 30px;
  border-radius: 10px 20px 10px 20px;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: white;
  background-color: black;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}